@import "bootstrap";
a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.bg-secondary {
  background-color: #FF6600 !important;
  height: 30px !important;
}

.card {
  border-radius: 0;
  background-color: #F6F6EF;
}

.navbar {
  padding: 0;
}

#hackernews {
  margin-left: .5em;
  font-weight: bold;
}

#y {
  border: 1px solid white;
  margin: 4px;
}

#arrow {
  height: 12px;
  margin-bottom: 3px;
  margin-right: 6px;
}

#post-title {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

#comments-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
