@import "bootstrap";
.bg-secondary {
  background-color: #FF6600 !important;
  height: 30px !important;
}

.navbar {
  padding: 0;
}

#hackernews {
  margin-left: .5em;
  font-weight: bold;
}

.card {
  border-radius: 0;
  background-color: #F6F6EF;
}

#y {
  border: 1px solid white;
  margin: 4px;
}

#arrow {
  height: 12px;
}

#post-title {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
