<!DOCTYPE html>
<html>
  <head>
    <title>HackerNews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-secondary mt-4">
        <div class="row ml-1">
          <img id="y" src="https://news.ycombinator.com/y18.gif">
          <span id="hackernews">Hacker News<span> | new | comments | show | ask | jobs | submit
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
